<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <form action="/day5/addData" method="post">
    <table>
        <tr>
            <td>请输入姓名</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>请选择性别</td>
            <td>
                <select name="sex_id">
                    {foreach($data as $v)}
                    <option value="{$v['sex_id']}">{$v['sex']}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>请输入电话号码</td>
            <td><input type="text" name="tel"></td>
        </tr>
        <tr>
            <td>请输入地址</td>
            <td><input type="text" name="add"></td>
        </tr>
        <tr>
            <td>请输入？？</td>
            <td><input type="text" name="salary"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="添加"></td>
        </tr>
    </table>
    </form>
</center>
</body>
</html>